.star {
    font-size: 26px;
    color: #bbb;
    transition: color 0.3s;
    cursor: pointer;
}

.star:hover,
.star.checked {
    color: gold;
}

.star.hovered,
.star.checked.hovered ~ .star {
    color: gold;
}

#reviews-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribuir el espacio entre los elementos */
}

.container-review {
    background-color: white;
    border-radius: 20px;
    margin-right: 1em;
    margin-bottom: 1em; /* Añade margen inferior para separación vertical */
    width: calc(33.33% - 1em); /* 33.33% para mantener 3 columnas y el de margen derecho */
    box-sizing: border-box; /* Incluir el margen en el ancho */
}

@media (max-width: 992px) {
    .container-review {
        width: calc(50% - 20px); /* En pantallas más pequeñas, mostrar 2 columnas */
    }
}

@media (max-width: 768px) {
    .container-review {
        width: 100%; /* En pantallas muy pequeñas, mostrar una columna */
        margin-right: 0; /* Eliminar el margen derecho */
    }
}

.header-review {
    display: flex;
    padding: .5em;
}

.name-review-date {
    flex: 1;
}

.name-review {
    font-size: 16px;
    font-weight: 700;
}

.date-review {
    color: #64748b;
    font-size: 14px;
}

.description-review {
    padding: .5em;
}